<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ne pas réécrire si le fichier ou dossier demandé existe réellement
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Toutes les autres routes renvoient vers index.html
  RewriteRule ^ index.html [L]
</IfModule>
